<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>My messaging board</h1>

    <% messages.map(msg => { %>
        <p><b><%= msg.user %>:</b> <%= msg.text%>  <%=msg.added.toLocaleTimeString()%></p>

    <% }) %>

<%- include ('partials/msgForm.ejs') %>

</body>
</html>